.contact-info {

    p {
        font-size: 0.9rem;

        &.title {
            font-size: 1.4rem;
            color: $gray-800;
        }
    }
    .hello {
        .title {
            font-weight: 700;
        }
    }
}

#contact {
    .social {
        display: flex;
        flex-direction: column;

            a {
            color: $gray-500;
            &:hover {
                color: $gray-600;
            }

            .fa {
                padding: 8px;
            }
        }
    }

    .form-control {
        font-size: 0.9rem;
        border: 0;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        padding: 0.375rem 0;  
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $gray-500;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $gray-500;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $gray-500;
    }

    .btn-text {
        background: none;
        right: 0;
        padding-right: 0;
    }
}