/* Style the buttons */
#myBtnContainer {
	text-align: center;
	margin-bottom: 30px;

	.btn {
		border: none;
		outline: none;
		cursor: pointer;
		background-color: $white;
		font-weight: 600;
	}

	/* Add a grey background color on mouse-over */
	.btn:hover {
		color: $primary;
	}

	/* Add a dark background color to the active button */
	.btn.active {
		background-color: $primary;
		color: white;
	}
}

#gallery {
}
