#team {
    img {
        max-width: 100%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%)
    }

    .info {
        color:  $gray-700;
        p {
            margin: 10px 0 0;
            font-size: 1.2rem;
            font-weight: 600;
        }

        &:hover {
            color: $primary;
        }
    }
}