$white: #fff;
$aqua: #4cb28f;
$off-white: #f5f7fb;
$black-sheer: rgba(0, 0, 0, 0.2);
$black-opaque: rgba(0, 0, 0, 0.8);

$gray-600: #6c757d !default;

$primary: $aqua;
$primary-dark: darken($primary, 10%);
$secondary: $off-white;
$dark: $black-sheer;
$darker: $black-opaque;

$body-color: $gray-600 !default;

$social-link-color: rgba($white, .5) !default;
$social-link-hover-color: rgba($white, .90) !default;

$font-family-cursive: 'Pacifico', cursive;
$font-family-sans-serif: "Khula", sans-serif;

$navbar-brand-font-size: 2.25rem;
