@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700|Hind:500,600|Norican');
@import "partials/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

$navbar-brand-font-size: 2.25rem;

.navbar {
    color: #bebebe;
    font-size: 0.9rem;
    font-family: $font-family-tiny;
    padding: 0 50px;
    font-weight: 300;

    .navbar-brand {
        font-family: $font-family-cursive;
        font-size: 2.2rem;
    }

    .sep {
        font-size: 1rem;
        padding: 0 10px;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #f2f2f2;
    font-weight: 600;
}

li.nav-item {
    padding: 0 10px;
}



.jumbotron{
    height: 100vh;
}
