@import url('https://fonts.googleapis.com/css?family=Work+Sans|Lato|Norican');
@import "partials/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

$navbar-brand-font-size: 2.25rem;

.navbar {
    color: #fff;
    font-size: 0.9rem;
    font-family: $font-family-tiny;
    padding: 0 50px;
}
.navbar-brand {
    font-family: $font-family-cursive;
    font-size: 2.2rem;
}
.navbar .sep {
    color: #6f8284;
    font-size: 1rem;
    padding: 0 10px;
}
.navbar .tagline {
    color: #6f8284;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}
li.nav-item {
    padding: 0 10px;
}
.jumbotron{
    height: 100vh;
}
