@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700|Hind:500,600|Norican');
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import "partials/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

$navbar-brand-font-size: 2.25rem;

.navbar {
    color: #bebebe;
    font-size: 0.8rem;
    padding: 0 50px;
    font-weight: 300;

    .navbar-brand {
        font-family: $font-family-cursive;
        font-size: 2.2rem;
    }

    .sep {
        font-size: 1rem;
        padding: 0 10px;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: #f2f2f2;
    font-weight: 600;
    padding: 21px 15px;
    
    &:hover {
        border-top: 3px solid $primary;
        padding-top: 19px;
    }
}



.jumbotron{
    height: 100vh;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1, h2, h3 {
        font-weight: 300;
    }

    h1 {
        font-size: 3.8rem;
        margin-bottom: 0;

        span {
            font-weight: 600;
        }
    }

    h2 {
        font-size: 3rem;
        
        span {
            color: $primary;
            font-weight: 400;
        }
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .container.social {
        margin-top: 100px;
    }
}

.social {
    .fa {
        font-size: 1.3rem;
        padding: 0 8px;
    }

    a {
        color: $social-link-color;

        &:hover {
            color: $social-link-hover-color;
        }
    }

}

.lined {
    line-height: 0.5;
    text-align: center;

    span {
        display: inline-block;
        position: relative;  

        &:before,&:after {
            content: "";
            position: absolute;
            height: 5px;
            border-bottom: 2px solid $primary;
            top: 0;
            width: 30px;
        }

        &:before {
            right: 100%;
            margin-right: 20px;
        }

        &:after {
            left: 100%;
            margin-left: 20px;
        }
    }
}
